{% extends "base.html" %}

{% block content %}

<div class="row mt-5">
    <div class="col-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">제목</th>
            <th scope="col">아이디</th>
            <th scope="col">작성일</th>
          </tr>
        </thead>
  
        <tbody>
          {% for board in boards %}
          <tr>
            <td><a href="detail/{{board.id}}">{{ board.title }}</a></td>
            <td>{{ board.writer }}</td>
            <td>{{ board.created_at }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary"><a href="write/">글쓰기</a></button>
    </div>
  </div>

  {% endblock %}